.navbar{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #232229;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
    position: fixed;
    top: -10px;
    margin-top: 10px;
    transition: all 0.5s ease;
    z-index: 999;
    left: 7%;
}
.logo{
    font-size: 30px;
    font-family: "Ranille", sans-serif;
}
.nav_links{
    display: flex !important;
    justify-content: space-between !important;
    flex: 0.5;
}
.nav_links > a{
    text-decoration: none;
    color: #fff;
    font-family: "Zalando Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: normal;
}
.creds{
    flex: 0.16;
}
.avatar_image{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.user_section{
    display: flex;
    flex: 1;
}
.user_section > button{
    background-color: #ffffff00;
    border: none;
    display: flex;
    color: #fff;
    font-weight: bold;
    align-items: center;
    justify-content:right;
    /* width: 200px; */
    flex: 1;
    cursor: pointer;
    font-family: "Zalando Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: normal;
}

.user_section > button > .userName{
    margin-left: 10px;
}
.login_btn{
    flex: 1;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.login{
    border: 1px solid #fff !important;
    background-color: #ffffff00;
    color: #fff;
    padding: 10px;
    width: 95px;
    border-radius: 5px;
    font-family: "Zalando Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}
.signup{
    border: none !important;
    background-color: #fff;
    color: #000;
    padding: 10px;
    width: 95px;
    border-radius: 5px;
    font-family: "Zalando Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.login:hover{
    background-color: #fff;
    color: #000;
    transition-duration: 0.5s;
    font-weight: 600;
}
.signup:hover{
    border: 1px solid #fff !important;
    background-color: #ffffff00;
    color: #fff;
    transition-duration: 0.5s;
}