.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Calibri", sans-serif;
}

.order-modal {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.close_btn {
  background: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
