.hero_display{
    display: flex;
    /* background-image: url("../../../public/LandingPicture.png");
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: space-between;
    margin-top: 175px;
    align-items: center;
    /* text-align: center; */
}
.left_part{
    flex: 0.50;
    padding-left: 150px;
}
.left_part > .hero_main_text > span{
    font-family: "Ranille", sans-serif;
    font-size: 80px;
}
.hero_main_text{
    position: relative;
    display: inline-block;
    font-family: "calibri", sans-serif;
}
.hero_main_text::before {
  content: "";
  position: absolute;
  top: -75px;  /* adjust position */
  left: -90px;
  width: 250px;
  height: 250px;
  background: rgba(250, 109, 84, 0.068); /* tomato shade w/ transparency */
  border-radius: 50%;
  z-index: -1; /* behind the text */
  filter: blur(5px);
}
.left_part > .hero_main_text > span > span{
    color: #f65732;
}
.center{
    flex: 0.75;
    text-align: center;
}
.right_part{
    display: flex;
    flex: 0.35;
    flex-direction: column;
}
.pro{
    display: flex;
    align-items: center;
    color: #1a1a1d;
    margin-top: 80px;
}
.pro > .pro_icon{
    box-shadow: 5px 10px 20px -3px #ece9ea;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
}
.pro > .pro_content{
    margin-left: 20px;
}
.pro > .pro_content > .content_title{
    font-family: "Ranille", sans-serif;
    font-size: 18px;
}
.pro > .pro_content > .content{
    margin-top: 10px;
    font-family: "Zalando", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #999999;
}
.best_delivered_categories{
    display: flex;
    flex-direction: column;
}
.best_delivered_categories > .title_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best_delivered_categories > .title_part > .best_seller_title{
    font-family: "Ranille", sans-serif;
    font-size: 80px;
    padding-left: 150px;
}
.best_delivered_categories > .title_part > .best_seller_title > span{
    color:#f65732;
    
}
.best_delivered_categories > .title_part > .bestseller_content{
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 35px;
}
.best_delivered_categories > .title_part > .french_fry_hand{
    /* margin-right: -10px; */
    margin-top: 170px;
    position: relative;
    display: inline-block;
}
.best_delivered_categories > .title_part > .french_fry_hand::before {
  content: "";
  position: absolute;
  top: -50px;  /* adjust position */
  left: 50px;
  width: 250px;
  height: 250px;
  background: rgba(250, 109, 84, 0.068); /* tomato shade w/ transparency */
  border-radius: 50%;
  z-index: -1; /* behind the text */
  filter: blur(5px);
}
.dishes{
    display: flex;
    text-align: center;
    margin: auto;
}
.bestseller_component{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.best_seller_name{
    font-family: "calibri", sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.ordernow {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;   /* centers icon + text */
    gap: 5px;                  /* space between text and icon */
    color: #f65732;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'calibri', sans-serif;
    font-size: 21px;
}
.services{
    display: flex;
    flex-direction: column;
    margin-top: -150px;
}
.services > .title_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services > .title_part > .services_title{
    font-family: "Ranille", sans-serif;
    font-size: 80px;
    /* padding-left: 100px; */
    margin: auto;
    text-align: center;
}
.services > .title_part > .services_title > span {
    color:#f65732;
}
.services > .service{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    margin-top: 100px;
}
.services > .service > .service_component{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.service_name{
    font-family: "calibri", sans-serif;
    font-weight: bolder;
    font-size: 30px;   
    margin-top: 30px;
}
.service_desc{
    color: #797776;
    font-family: "calibri", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}
.pan{
    margin-top: 50px;
}
.footer{
    height: 730px;
    background-image: url('../../../public/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.height{
    height: 40%;
}
.content_container{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    width: 100%;
    align-items: center;
}
.restaurants_and_food{
    font-family: "Ranille", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
}
.restaurants_and_food > span{
    color: #eac73c;

}
.acutal_footer{
    display: flex;
    align-items: center;
    justify-content: space-between; /* centers its content horizontally */
    gap: 20px; /* space between logo and text */
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    width: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #232229;
}
.copy_rights{
    display: flex;
    align-items: center;
    font-family: 'Calibri', sans-serif;
}