.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.email_input{
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    text-align: left;
    font-family: "Calibri", sans-serif;
}
.email_input > .bottom{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.email_input > .bottom > input{
    border: none;
    flex: 1;
    background-color: transparent !important;
    height: 40px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 2px;
}
.password_input{
    align-items: center;
    border-radius: 10px;
    width: 15%;
    text-align: left;
    margin-top: 15px;
    font-family: "Calibri", sans-serif;
}
.password_input > .bottom{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.password_input > .bottom > input{
    border: none;
    flex: 1;
    background-color: transparent !important;
    height: 40px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 5px;
}
/* Remove outline on focus */
.login_form input:focus {
  outline: none;
  box-shadow: none; /* in case some browsers add shadow */
}

/* Remove light blue autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* replace white with your input bg color */
  -webkit-text-fill-color: #000 !important; /* text color */
}
.email_input > .bottom > input::placeholder{
    letter-spacing: 1px !important;
    font-weight: bold;
}
.login_processor{
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px 10px 20px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}
