.orders_page{
    margin-top: 100px;
    padding: 30px 0 0 150px;
}
.order_card{
    background-color: #232229;
    font-family: "Calibri", sans-serif;
    color: #fff;
    width: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.orders_display{
    margin-top: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px; /* space between items */
    cursor: pointer;
}
.view{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #373542;
    border: none;
    color: #fff;
    cursor: pointer;
}