.rest_menu{
    margin-top: 100px;
    padding: 30px 0 0 150px;
}
.rest_name{
    font-family: "Ranille", sans-serif;
    color: #ff5725;
    letter-spacing: 1px;
    font-size: 40px;
}
.rest_menu_items {
    margin-top: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px; /* space between items */
    cursor: pointer;
}

.rest_menu_item{
    width: 350px;
    padding: 30px;
    text-align: center;
}
.rest_menu_item_name{
    text-align: left;
    font-family: "Ranille", sans-serif;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rest_menu_item_desc{
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}