.rest_dashboard{
    margin-top: 100px;
    padding: 30px 150px 0 150px;
}
.rest_dashboard_image{
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 10px 10px #00000004;
    border-radius: 10px;
    object-fit: cover;      /* fills the container while maintaining aspect ratio */
    object-position: center; /* crops from center */
}