@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.image-square {
  width: 150px;      /* your desired square size */
  height: 150px;
  display: flex;
  text-align: center !important;
}

.image-square img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;      /* fills the container while maintaining aspect ratio */
  object-position: center; /* crops from center */
}

.orders{
    font-family: 'Ranille', sans-serif;
    font-weight: 50;
    font-style: normal;
    letter-spacing: 1px;
}
.image{
  width: 350px;
  height: 200px;
  box-shadow: 1px 1px 10px 10px #00000004;
  border-radius: 10px;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;      /* fills the container while maintaining aspect ratio */
  object-position: center; /* crops from center */
}