@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.image-square {
  width: 150px;      /* your desired square size */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px; /* optional */
  background: #f0f0f0; /* optional placeholder color */
}

.image-square img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;      /* fills the container while maintaining aspect ratio */
  object-position: center; /* crops from center */
}

.orders{
    font-family: 'Ranille', sans-serif;
    font-weight: 50;
    font-style: normal;
    letter-spacing: 1px;
}