@font-face {
    font-family: 'Ranille';
    src: url('../public/fonts/Ranille.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noyh';
    src: url('../public/fonts/Noyh.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
    height: fit-content;
}
*{
    transition-duration: 0.4s;
    text-decoration: none !important;
}
a{
    color: #fff;
}
.Toastify__toast--info{
    width: 400px !important;
    text-align: center;
}